# AWS Configuration
AWS_REGION=us-east-1
AWS_PROFILE=default

# Lambda Configuration
LAMBDA_FUNCTION_NAME=juanmgart-duckdb-lambda
LAMBDA_MEMORY_SIZE=512
LAMBDA_TIMEOUT=60

# Terraform Configuration
TF_VAR_aws_region=us-east-1
TF_VAR_environment=dev
TF_VAR_function_name=juanmgart-duckdb-lambda
